@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --maincolor: #2a27ce;
--bgcolor:rgb(175, 189, 236);
--textcolor:#fcf6f6;

}
* {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bgcolor);

  
}

header {
  background-color: var(--maincolor);
  color:var(--textcolor);
  padding: 5px 0;
 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}
h1{
  font-size: 30px;
  color: var(--maincolor);
  text-align: center;
}
.logo {
  
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  background-color: var(--maincolor);
  color: var(--textcolor);
}
.menu-icon{
  display: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--textcolor);
}
.menuLinks{

  color: var(--textcolor);
  margin-right: 50px;
  font-size: 30px;
  flex-direction: row;

}
.menuLinks:hover{
  color: var(--bgcolor);
  transition: color 0.3s ease;
  font-size: 32px;
}

footer{
  position: fixed;
  bottom: 0; left: 0; right: 0;
  font-size: 14px;
  background-color: var(--maincolor);
  text-align: center;
  color: var(--textcolor);
}
.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-color: var(--bgcolor);
}


.myname{
  text-align: left;
  font-size: 50px;
  margin-bottom: 200px;
  padding-top: 0;
  padding-left: 50px;
  width: 100%;
  height: auto;
  color: var(--textcolor);
  
}
.myname span{
  font-weight:900;
  color: var(--maincolor);
}
.mypic {
  width: 80%;
  height: auto;

  
}





@media only screen and (max-width:700px) {
  .myname {
    font-size: 30px;
    margin-bottom: 0px;
  }
  .myname span{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0px;
  }
  .parent{
    flex-wrap: wrap;
  }
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    padding: 0;
}

.nav-links.active {
    display: flex;
}

.nav-links li {
    margin: 10px 0;
    text-align: center;
}

.menu-icon {
    display: block;
}
}